.Hero {
	height: 6.1rem;
	line-height: 6.1rem;
	background-image: url('/public/img/bg-welcome-hero@2x_fixed.png');
	background-size: 100% 100%;
	.text {
		color: lighten($light_text,15%);
		font-weight: 100;
		text-align: center;
		font-size: 1.7rem;
		.color {
			color: $accent_color;
		}
	}
}