.Natural {
	padding: 3.6rem;
	text-align: center;
	.form {
		margin: 0 auto;
		text-align: center;
		font-size: 2.4rem;
		line-height: 4rem;
		font-weight: 100;
		.select {
			display: inline-block;
			position: relative;
			&.show {
				.options {
					visibility: visible;
					opacity: 1;
					transform: translateY(0%) scale(1);
					transition: visibility 0s 0s, opacity 0.3s, transform 0.3s;
				}
			}
			.checked {
				color: $accent_color;
				text-decoration: underline;
			}
			.options {
				visibility: hidden;
				position: absolute;
				top: 0%;
				background-color: $accent_color;
				top: 50%;
				font-size: 80%;
				transform: translateY(-10%) scale(0.9);
				opacity: 0;
				width: auto;
				z-index: 999;
				transition: visibility 0s 0.3s, opacity 0.3s, transform 0.3s;
				color: $lighter_text;
				padding: 1rem;
				font-weight: 100;
				left: 25%;
				box-shadow: 0 1rem 1rem -0.3rem rgba(0,0,0,0.1);
				.option {
					white-space: nowrap;
					cursor: pointer;
					padding: 0 0.5rem;
					text-align: left;
					font-size: 0.9rem;
					line-height: 1.5rem;
					@media (max-width: 42rem) {
						font-size: 1.5rem;
						line-height: 2.1rem;
					}
					@media (max-width: 36rem) {
						font-size: 2rem;
						line-height:4rem;
					}
					&.checked {
						color: $navbg;
						text-decoration: none;
						font-weight: 600;
						&:after {
						    content: "\2713";
						}
					}
				}
				@media (max-width: 36rem) {
					position: fixed;
					left: 1rem;
					top: 1rem;
					right: 1rem;
					bottom: 1rem;
					padding: 2rem;
				}
			}
		}
	}
	button {
		background-color: $accent_color;
		border: none;
		font-size: 1.55rem;
		border-radius: 2px;
		line-height: 1;
		// height: u(30);
		// line-height: u(30);
		padding: 0.7rem 1.5rem;
		font-weight: 100;
		color: $lighter_text;
		margin-top: 2rem;
		cursor: pointer;
		&:hover {
			background-color: darken($accent_color,10%);
		}
	}
	.results {
		display: none;
		&.show {
			display: block;
			.content {
				width: 100%;
				@keyframes show_results {
					0% {
						opacity: 0;
						transform: translateY(2rem);
					}
				 	100% {
						opacity: 1;
						transform: translateY(0);
					}
				}
				animation: show_results 0.5s;
			}
		}
		.content {
			width: 80%;
			max-width: 50rem;
			margin: 0 auto;
			text-align: left;
			box-shadow: 0 3rem 3rem -1rem rgba(0,0,0,0.2), 0px 0px 1px rgba(0,0,0,0.2);
			border-radius: 2px;
			overflow: hidden;
			margin-top: 3rem;
			transition: 0 2s;
			.result {
				// margin-bottom: 1px;
				border-bottom: 1px solid darken($light_bg,5%);
				&:last-of-type {
					border-bottom: none;
				}
				.title {
					font-size: 0.9rem;
					font-weight: 100;
					background-color: $light_bg;
					padding: 1rem;
					letter-spacing: 0.05rem;
					.industry {
						float: right;
						box-shadow: 0 0.3rem 0.3rem -0.1rem rgba(0,0,0,0.1);
						background-color: $accent_color;
						color: lighten($dark_text,70%);
						text-decoration: none;
						&:hover {
							background-color: darken($accent_color,10%);
							color: lighten($dark_text,80%);
						}
					}
					a {
						// text-decoration: underline;
						// background-color: lighten($dark_text,10%);
						// color: $lighter_text;
						border-radius: 2px;
						padding: 0.6rem;
						display: inline-block;
						// border: 1px solid;
						transition: .2s;
						color: lighten($dark_text,10%);
						&:hover {
							color: $accent_color;
						}
					}
				}
				.display {
					padding: 2rem 1rem;
					font-size: 1.5rem;
					color: $dark_text;
					font-weight: 100;
					background-color: lighten($light_bg,5%);
					a {
						&:hover {
							color: $accent_color;
						}
					}
				}
			}
		}
	}
}