.Nav {
	background-color: $navbg;
	min-height: 3.45rem;
	border-bottom: 1px solid $nav_border_color;
	overflow: hidden;
	.logo {
		padding: 0.8rem 1rem;
		img {
			height: 1.3rem;
			margin-top: 0.2rem;
		}
		display: inline-block;
	}

	.links {
		display: inline-block;
		vertical-align: top;
		padding-top: 0.6rem;
		ul {
			li {
				display: inline-block;
				margin-right: 1rem;
				margin-left: 0.4rem;
				a {
					font-size: 0.6rem;
					font-weight: 100;
					display: inline-block;
					padding: 0.7rem 0.1rem;
					color: lighten($light_text,10%);
					transition: .25s;
					&:hover {
						color: $lighter_text;
					}
				}
			}
		}
	}

	.user {
		float: right;
		line-height: 3.45rem;
		img {
			height: 1.6rem;
			display: inline-block;
			vertical-align: middle;
		}
		.username, .logout {
			display: inline-block;
			color: lighten($light_text,10%);
			font-size: 7px;
			font-weight: 100;
			vertical-align: middle;
			padding: 0 0.8rem;
			&:hover {
				color: $lighter_text;
			}
		}
		.userlink {
			padding-left: 1rem;
			display: inline-block;
		}
		.logout {
			padding-right: 1.5rem;
		}
	}
}