$navbg : #212121;
$white : #fff;

$nav_border_color : #252525;

$light_text: #adadad;
$lighter_text: lighten($light_text,30%);

$dark_text: #4a4a4a;

$search_bg : #333333;
$search_border : #454545;

$accent_color : #e11e25;

$light_bg : #f3f3f3;